#background-container {
    background-color: darkslategrey;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas-holder {
    display: grid;
}

#canvas, #canvas-temp {
    grid-column: 1;
    grid-row: 1;
    width: 700px;
    height: 350px;
}

#canvas {
    background: white;
    float: left;
}

.horizontal {
    display: flex;
}

.vert-top {
    vertical-align: top;
}

.vert-grow {
    flex-grow: 1;
}

.btn {
   color: lightgray; 
   padding: 5px;
   border-radius: 15px;
   margin-bottom: 5px;
}

.btn:hover {
    box-shadow: 0 0 4px lightgray;
}

.selected {
    background-color: #3d6981;
}

.not-selected {
    background-color: #333333;
}

#color-picker {
    height: 120px;
    width: 150px;
    background: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 10px 100px 5px 20px 10px;
    grid-template-rows: 10px 100px 10px;
}

#color-square {
    width: 100px;
    height: 100px;
    background-color: red;
}

#hue-picker {
    height:100px;
    width: 25px;
    background-color: blue;
}