#background-container {
    background-color: darkslategrey;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas-holder {
    display: grid;
}

#canvas, #canvas-temp {
    grid-column: 1;
    grid-row: 1;
    width: 700px;
    height: 350px;
}

#canvas {
    background: white;
    float: left;
}

.horizontal {
    display: flex;
}

.vert-top {
    vertical-align: top;
}

.vert-grow {
    flex-grow: 1;
}

.btn {
   color: lightgray; 
   padding: 5px;
   border-radius: 15px;
   margin-bottom: 5px;
}

.btn:hover {
    box-shadow: 0 0 4px lightgray;
}

.selected {
    background-color: #3d6981;
}

.not-selected {
    background-color: #333333;
}

#color-widget {
    background: #333333;
}

#color-picker {
    height: 170px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 10px 100px 5px 20px 10px;
    grid-template-rows: 10px 100px 10px;
}

#gradient-square {
    width: 200px;
    height: 150px;

    background: linear-gradient(transparent 0%, hsl(0deg, 0%, 0%) 100%), 
        linear-gradient(to left, transparent 0%, hsl(0deg, 0%, 100%) 100%),
        hsl(0, 100%, 50%)
}

#gradient-picker {
    width: 10px;
    height: 10px;
    background: hsl(0deg, 100%, 50%);
    border-radius: 50%;
    border: 2px solid gray;
    position: absolute;
}

#hue-rect {
    height: 150px;
    width: 25px;
    background: linear-gradient(to bottom, rgb(255,0,0), rgb(255, 255,0) 17%, rgb(0, 255, 0) 33%,
        rgb(0, 255, 255) 50%, rgb(0, 0, 255) 66%, rgb( 255, 0, 255) 83%, rgb(255, 0, 0)) ;
}

#hue-picker {
    width: 25px;
    height: 4px;
    border: 2px solid gray;
    position: absolute;
    background: hsl(0deg, 100%, 50%);
}


.color-slider {
    color: lightgray;
    padding-left: 5px;
    padding-right:5px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.const {
    width: 11px;
}

.val-input {
    width: 45px;
}

.val-input-range {
    width: 160px;
}